---
layout: page
title: PULPINO__SPI_MASTER__subsystem_VERIFICATION 
description: Testbench for PULPINO SPI_MASTER subsystem 
img: assets/img/spi_master_subsystem_verification.png
importance: 1
contributors: Muneeb
redirect: https://github.com/mbits-mirafra/pulpino__spi_master__subsystem_verification
category: work
---
