---
layout: page
title: PULPINO__SPI_MASTER__IP_VERIFICATION 
description: Testbench for PULPINO SPI_MASTER ip 
img: assets/img/pulpino__spi_master__ip_verification.png
importance: 1
contributors: Muneeb
redirect: https://github.com/mbits-mirafra/pulpino__spi_master__ip_verification
category: work
---
