---
layout: page
title: PULPINO SPI MASTER SUBSYSTEM VERIFICATION 
description: Testbench for PULPINO SPI_MASTER subsystem 
img: assets/img/pulpino__spi_master__subsystem_verification.png
importance: 1
contributors: Muneeb, Sahana, Nadeem, Shweta, Chetan, Venkatesh, Anitha, Sivareddy
redirect: https://github.com/mbits-mirafra/pulpino__spi_master__subsystem_verification
category: work
---
